@import 'reset';

body {
	background-color: #fff;
}

header {
	background-color: #FAFAFA;
	border-bottom: 1px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

a {
	box-sizing: border-box;
		width: 25%;
		display: inline-block;
		margin-left: -3px;
		text-align: center;
		padding: 12px;
}

.fa{
	color: black;
	font-size: 25px;
}

a:hover {
	background-color: pink;
}
